<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>es.upm.dit.isst.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFactura</servlet-name>
		<servlet-class>es.upm.dit.isst.AddFactura</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFactura</servlet-name>
		<url-pattern>/addFactura</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFacturaPDF</servlet-name>
		<servlet-class>es.upm.dit.isst.AddFacturaPDF</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFacturaPDF</servlet-name>
		<url-pattern>/addFacturaPDF</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowFactura</servlet-name>
		<servlet-class>es.upm.dit.isst.ShowFactura</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowFactura</servlet-name>
		<url-pattern>/showFactura</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ComprasColectivas</servlet-name>
		<servlet-class>es.upm.dit.isst.ComprasColectivas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComprasColectivas</servlet-name>
		<url-pattern>/comprasColectivas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ComprasColectivasUncheck</servlet-name>
		<servlet-class>es.upm.dit.isst.ComprasColectivasUncheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComprasColectivasUncheck</servlet-name>
		<url-pattern>/comprasColectivasUncheck</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Main</welcome-file>
	</welcome-file-list>
</web-app>
